.bg-portafolio-nav{
    background-color: rgb(0, 0, 0);
    color:#17dbd4;
}

.btn-primary-p{
    padding: 6px 25px;
    color: #d5bebe;
    background-color: rgb(13, 109, 219);
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    margin: 22px 0;
    transition: .5s;
}
.btn-primary-p:hover{
    background: #666;
    border-radius: 0;

}

#services{
text-align: center;
padding: 100px 0;
}

#services h2{
    margin-bottom: 80px;
}

#about {
    padding-top: 50px;

}

#about h2{
    color: rgb(70, 140, 219);
}

.footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px 0;
}

#navbarNav a{
    color: #fff;
}


#carouselheroCaptions .carousel-caption{
    bottom: 50%;
}

#carouselheroCaptions .carousel-caption h5{
    font-size: 60px;
}

#carouselheroCaptions .carousel-caption p{
    font-size: 30px;
}

#carouselheroCaptions .carousel-indicators{
    bottom: 47%;
}
#carouselheroCaptions .carousel-indicators button{
    width: 13px;
    height: 13px;
    border-radius: 50%;
}


#about img{
    width: 500px;
    max-width: 100%;
}

#services .item-servicio{
    transition: .5s;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
}

#services .item-servicio:hover{
    -webkit-box-shadow: 9px 11px 25px -11px rgb(158, 23, 11);
    -moz-box-shadow: 9px 11px 25px -11px  rgb(158, 23, 11);
    box-shadow: 9px 11px 25px -11px  rgb(158, 23, 11);
}

body a img{
    width: 40px;
    height: 40px;
}

.whatsapp{
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 99;
    border-radius:50%;
}

.whatsapp:hover{
    -webkit-box-shadow: 0px 0px 25px 11px rgba(59,163,87,0.76);
-moz-box-shadow: 0px 0px 25px 11px rgba(59,163,87,0.76);
box-shadow: 0px 0px 25px 11px rgba(59,163,87,0.76);
}


#javascript{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 120px;
    background: black;
    overflow: hidden;
    z-index: 0;
}

#panel-lateral{
    width: 30%;
    height: 100vh;
    background: black;
    border-right: 4px solid aquamarine ;
    position: absolute;
    left: -30%;
    top: 0;
    z-index: 9;
    transition: .5s;
}
#panel-lateral .close-panel{
    position: absolute;
    right: 30px;
    top: 30px;
} 

#panel-lateral h3{
    margin-top: 60px;
    text-align: center;
    color: #fff;
}

#panel-lateral ul{
    width: 60%;
    margin: 100px auto;
    text-align: center;
}

#panel-lateral li{
    list-style: none;
}

#panel-lateral li a{
    text-decoration: none;
    display: block;
    padding: 12px;
    background: #000;
    border: 1px solid aquamarine;
    color: #fff;
    margin: 15px;
}
#panel-lateral.active{
    left: 0;
}

#javascript h2{
color: #fff;
margin-bottom: 70px;
}

#javascript button{
    color:rgb(219, 13, 13);  
    padding: 10px 20px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgb(227, 166, 129);
    border-radius: 20px;
    transition: .5s;
}

#javascript hr{
    border-color: #fff;
}

#javascript #figura{
    width: 200px;
    height: 200px;
    background: rgb(13, 109, 219);
    margin: 40px auto;

}

#javascript button:hover{
    background: #666;
}

#figura{
    width: 200px;
    height: 200px;
    background: aquamarine;
    margin: 40px auto;
    transition: .4s;
}

#figura.circulo{
    border-radius: 50%;
    transform: rotate(-360deg);
    background: #fff;
    border: 2px solid aquamarine;    
}

#figura.hor{
    width: 400px;
    transition: .5s;
}

#figura.ver{
    height: 400px;
    transition: .5s;
}

#figura.top{
    transform: translateY(-100px);
    transition: .5s;
}

#figura.Button{
    transform: translateY(100px);
    transition: .5s;
}

#figura.Right{
    transform: translateX(100px);
    transition: .5s;
}

